<div class="background"></div>
<div class="flip-container" [class.flipped]="isFlipped" 
     (mouseover)="flip(true)" (mouseout)="flip(false)">
  <div class="flipper">
    <div class="front">
      <!-- Contenido de la parte delantera -->
      
      <h2 class="imagen-redondeada">
        <img src="concha_marina.jpg" alt="Concha Marina">
      </h2>
      <h1 class="title">
        musi - Tota la teva música al cloud
      </h1> 
    </div>
    <div class="back">
      <!-- Contenido de la parte trasera -->
      <h1 class="title_">
        Bienvenido a nuestra plataforma, un espacio dedicado a los artistas y amantes de la música. Aquí podrás subir tus canciones y compartirlas con el mundo, ¡y lo mejor de todo es que podrás escuchar tu música desde cualquier dispositivo, en cualquier lugar y en cualquier momento! Ya sea que estés creando tu propio contenido o simplemente disfrutando de nuevas melodías, nuestra web te ofrece una experiencia fácil y accesible para que tu música siempre esté a tu alcance. Súbela, compártela y déjala sonar sin límites. ¡Tu música, donde quiera que vayas!
      </h1>
      <button class="idem_botom" (click)="irAOtraPagina()">Haz clic aquí, para registrarte</button>
  
    </div>
  </div>
</div>
