/* Estil de la barra d'acció superior */
.action-bar {
  background-color: #1e1f1f;
  color: rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 7%;
  margin-left: 3%;
}

/* Estil per a la llista de fitxers */
.mp3-list .list-group-item {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  border: none;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  border-bottom: 2px solid #aca5a5;  /* Línea inferior de color azul */
  margin-right: 7%;
  margin-left: 1.5%;

}

.mp3-list .list-group-item:hover {
  opacity: 0.5;
  background-color: #3e3f3f; /* Color de fons més clar al passar-hi el cursor */
  transform: translateY(-2px);
}

/* Botons */
.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #ffffff;
  font-weight: bold;
  margin-left: 15%;
  margin-top: -1%;

}

.btn-outline-info {
  width: 100px; /* Ajusta el tamaño según lo que necesites */
  height: auto; 
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s;
  margin-left: 13%;
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

/* Loader de càrrega */
.loading-container .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3d3e3e;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Text de càrrega */
.loading-text {
  color: #9aacbf;
  font-weight: 600;
  margin-bottom: 1rem;
}

.no-files {
  color: #6c757d;
  font-weight: 600;
}

/* Estils generals per centrar el formulari a la pàgina */
body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #00006d;
  font-family: Arial, sans-serif;
}

/* Estils per al formulari */
.upload-form {
  width: 50%;
  padding: 2rem;
  background-color: #565146;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

/* Estil per al títol del formulari */
.upload-form h3 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Estils per a les etiquetes i els camps de text */
.upload-form .form-group {
  margin-bottom: 1.5rem;
}

.upload-form label {
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
}

.upload-form input[type="text"],
.upload-form input[type="number"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.upload-form input[type="text"]:focus,
.upload-form input[type="number"]:focus {
  border-color: #009087;
  outline: none;
}

/* Estils per al botó de pujar fitxer */
.upload-form button[type="submit"] {
  width: 100%;
  padding: 0.9rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #009087;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-form button[type="submit"]:hover {
  background-color: #00796b;
}

.title {
  font-family: 'Georigia';
  font-size: 200%;
  font-weight: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  display: inline-block;
  margin-top: 0.3%;    /* Superior */
  margin-left: 2%;
  animation: shine 2s ease-in-out infinite;
}


.custom-file-button {
  display: flex;
  width: 2%; /* Ajusta el tamaño de la imagen */
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s;
  margin-left: 2%;
  margin-top: -1%;
}

.custom-file-button:hover {
  border-color: #034320;
}