/* Estil de la barra d'acció superior */
.action-bar {
  background-color: rgb(58, 58, 58);
  color: rgb(58, 58, 58);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2vh 3vw;
  width: 90vw;
  font-family: 'itali';

}

/* Estil per a la llista de fitxers */
.mp3-list .list-group-item {
  color: #ffffff;
  font-family: 'itali';
  border: none;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: transform 0.2s ease;
  border-bottom: 2px solid #aca5a5;  /* Línea inferior de color azul */
  margin-right: 7%;
  margin-left: 1.5%;

}

.mp3-list .list-group-item:hover {
  opacity: 0.5;
  background-color:rgb(58, 58, 58);; /* Color de fons més clar al passar-hi el cursor */
  transform: translateY(-2px);
  font-family: 'itali';

}

/* Botons */
.btn-primary {
  background-color: #3407ff;
  border-color: #1707ff;
  color: #ffffff;
  font-weight: bold;
  margin-left: 15%;
  margin-top: -1%;
  font-family: 'itali';

}

.btn-outline-info {
  width: 100px; /* Ajusta el tamaño según lo que necesites */
  height: auto; 
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s;
  margin-left: 13%;
  font-family: 'itali';

}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
  font-family: 'itali';

}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
  font-family: 'itali';

}

/* Loader de càrrega */
.loading-container .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #808080;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
  font-family: 'itali';

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Text de càrrega */
.loading-text {
  color: #9aacbf;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: 'itali';
}

.no-files {
  font-family: 'itali';
  color: #6c757d;
  font-weight: 600;
}

/* Estils generals per centrar el formulari a la pàgina */
body {
  font-family: 'itali';
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #00006d;
  font-family: 'itali';
}

/* Estils per al formulari */
.upload-form {
  width: 50%;
  padding: 2rem;
  background-color: #808080;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-bottom: 2%;
  font-family: 'itali';
}

/* Estil per al títol del formulari */
.upload-form h3 {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'itali';
}

/* Estils per a les etiquetes i els camps de text */
.upload-form .form-group {
  font-family: 'itali';
  margin-bottom: 1.5rem;
}

.upload-form label {
  font-family: 'itali';
  font-weight: bold;
  color: #555;
  margin-bottom: 0.5rem;
}

.upload-form input[type="text"],
.upload-form input[type="number"] {
  font-family: 'itali';
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: #ffffff;
  transition: border-color 0.3s ease;
}

.upload-form input[type="text"]:focus,
.upload-form input[type="number"]:focus {
  font-family: 'itali';
  border-color: #009087;
  outline: none;
}

/* Estils per al botó de pujar fitxer */
.upload-form button[type="submit"] {
  font-family: 'itali';
  width: 100%;
  padding: 0.9rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #009087;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-form button[type="submit"]:hover {
  background-color: #00796b;
}

.title {
  font-family: 'itali';
  font-size: 200%;
  font-weight: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  display: inline-block;
  margin-top: 0.3%;    /* Superior */
  margin-left: 2%;
  animation: shine 2s ease-in-out infinite;
}


.custom-file-button {
  display: flex;
  width: 2%; /* Ajusta el tamaño de la imagen */
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s;
  margin-left: 2%;
  margin-top: -1%;
}

.custom-file-button:hover {
  border-color: #034320;
}

@font-face {
  font-family: 'itali';
  src: url('/fonts/PantonNarrow-Trial-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}