/* Aplica un estil arrodonit i brillant al títol */
.title {
  font-family: 'itali';
  font-size: 230%;
  font-weight: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  display: inline-block;
  margin-top: 2.45%;    /* Superior */
  margin-left: 20%;
  animation: shine 2s ease-in-out infinite;
}

.imagen-redondeada img {
  width: 13%;  /* Redimensiona el ancho de la imagen al 20% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen, sin distorsionarla */
  border-radius: 50%; /* Esquinas redondeadas */
  border: 2px solid #ccc; /* Borde opcional */
  margin-top: -6%;    /* Superior */
  margin-left: 3%;
}

.idem_botom{
  background-color: #3f4562; /* Color de fondo verde */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 15px 32px; /* Espaciado interno */
  text-align: center; /* Centra el texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Lo convierte en un bloque en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Espaciado alrededor del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Efecto de transición para el cambio de color */
  top: -50%;
  margin-left: 20%;
  position: relative;
}

.mi-boton:hover {
  background-color: #45a049; /* Un verde más oscuro cuando pasas el ratón */
}

.highlight {
  font-weight: 600;
}

.background {
  display: fixed;
  background: rgb(0,1,0);
  background: linear-gradient(0deg, rgba(0,1,0,1) 52%, rgba(13,46,17,1) 80%, rgba(19,68,26,1) 93%);
  background-attachment: fixed;
  height: 300vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Envía el fondo detrás del contenido */
}

.bloqueGris{
  width: 90vw;  /* Ocupa el 90% del ancho de la pantalla */
  height:10%; /* Ocupa el 90% de la altura de la pantalla */
  background-color: rgb(58, 58, 58);  /* Color de fondo gris */
  margin: 3vh 3vw;  /* Deja un 5% de espacio en todos los bordes */
  border-radius: 20px;
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@font-face {
  font-family: 'itali';
  src: url('/fonts/PantonNarrow-Trial-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}