<div class="background">
  <div class="bloqueGris">
    <h1 class="title mb-4">
      musi<span class="highlight">Flow</span> - Tota_la teva música al cloud
    </h1>
    <h2 class="imagen-redondeada">
      <img src="concha_marina.jpg" alt="Concha Marina">
    </h2>
    <button *ngIf="!isAuthenticated" class="idem_botom" (click)="irAOtraPagina()">Haz clic aquí, para registrarte</button>
    <button *ngIf="isAuthenticated" (click)="logout()">Cerrar sesión</button>

    <!--<button class="loginButton" (click)="obrirLogin()">Registrar-se</button> -->
  </div>
  <div class="container my-5 text-center">
    <!-- Componente de carga de archivos MP3 -->
    <app-mp3-file></app-mp3-file>

  </div>
</div>



<router-outlet></router-outlet>
