<div class="modal-content">
  <h2 class="title" >Inicia sessio</h2>
  <form (ngSubmit)="iniciarSessio()">
    <div class="form-group">
      <label for="username">Usuari:</label>
      <input id="username" type="text" placeholder="Introdueix el teu usuari" [(ngModel)]="userName" name="userName" required />
    </div>
    <div class="form-group">
      <label for="password">Contrasenya:</label>
      <input id="password" type="password" placeholder="Introdueix la contrasenya" [(ngModel)]="password" name="password" required />
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <button type="submit" class="submit-button">Inicia sessio</button>
    <button type="button" (click)="registrarse()" class="register-button">Registrar-se</button>
  </form>
  <div class = "pasarSeguentpagina()"></div>
</div>

